rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /snap/{doc} { allow get: if true; allow list, write: if false; }
    match /{other=**} { allow read, write: if false; }
  }
}
